<div class="simple-table-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Pos</th>
                <th scope="col">Code</th>
                <th scope="col">Anatal</th>
                <th scope="col">A</th>
                <th scope="col">B</th>
                <th scope="col">C</th>
                <th scope="col">Static 1</th>
                <th scope="col">Static 2</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of data; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                    <!-- (change)="valueChanged(row, selectControl.value)"
                [formControl]="selectControl" -->
                    <select #sel class="form-select" aria-label="Select a value to see some magic"
                        [(ngModel)]='row.code' (ngModelChange)="valueChanged(i,$event)">
                        <option *ngFor="let item of itemsList" [value]="item.id">{{item.name}}</option>
                    </select>
                </td>
                <td>{{ getValueBySelectValue(row.code,'anatal') }}</td>
                <td>{{ getValueBySelectValue(row.code,'a') }}</td>
                <td>{{ getValueBySelectValue(row.code,'b') }}</td>
                <td>{{ getValueBySelectValue(row.code,'c') }}</td>
                <td>
                    <input class="form-control" type="text" [(ngModel)]='row.l1'
                        (ngModelChange)="inputValueChange(i,$event,'l1')" placeholder="Enter L1">
                </td>
                <td>
                    <input class="form-control" type="text" [(ngModel)]='row.l2'
                        (ngModelChange)="inputValueChange(i,$event,'l2')" placeholder="Enter L2">
                </td>
            </tr>
            <tr class="add-tr" *ngIf="showAddRow">
                <th>{{ data.length + 1}}</th>
                <td>
                    <select #sel class="form-select" aria-label="Select a value to see some magic"
                        [(ngModel)]='newRow.code' (ngModelChange)="updateNew($event)">
                        <option *ngFor="let item of itemsList" [value]="item.id">{{item.name}}</option>
                    </select>
                </td>
                <td>{{ getValueBySelectValue(newRow.code,'anatal') }}</td>
                <td>{{ getValueBySelectValue(newRow.code,'a') }}</td>
                <td>{{ getValueBySelectValue(newRow.code,'b') }}</td>
                <td>{{ getValueBySelectValue(newRow.code,'c') }}</td>
                <td>
                    <input class="form-control" type="text" [(ngModel)]='newRow.l1'
                        (ngModelChange)="inputNewValueChange($event,'l1')" placeholder="Enter L1">
                </td>
                <td>
                    <input class="form-control" type="text" [(ngModel)]='newRow.l2'
                        (ngModelChange)="inputNewValueChange($event,'l2')" placeholder="Enter L2">
                </td>
            </tr>
        </tbody>
    </table>
    <div class="button-container">
        <div class="button-container-sh">
            <button class="btn btn-primary" (click)="saveChanges()" [disabled]="!wasEdited">Save</button>
            <button class="btn btn-danger" (click)="cancelChanges()" [disabled]="!wasEdited">Cancel</button>
        </div>
        <div class="button-container-sh">
            <button class="btn btn-primary" (click)="addNewRow()">Add</button>
        </div>
    </div>
</div>