.simple-table-container {
    padding: 20px;
}

.button-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.button-container-sh {
    display: flex;
    gap: 5px;
}

.add-tr {
    background-color: #dce9fb;
}