.page-container {
  padding: 20px;
}

table {
  width: 100%;
  margin-bottom: 0 !important;
}

.edit-row {
  width: 100%;
  padding: 0.5rem 0.5rem;
  min-height: 55px;
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #dee2e6;
}

.error-msg {
  color: red;
}


.button-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.button-container-sh{
  display: flex;
  gap: 5px;
}

.action-column {
  gap: 5px;
  display: flex;
}